{% extends "index.html"%}

<!-- {% block heading %} -->
	<!-- First Page -->
<!-- {% endblock %} -->
		
{% block body %}
		<div id="menu_lateral">
				<h3 class="titre_lat">CFA</h3>
				<a class="element_lateral" href="">CFA Quiz 1</a>
				<a class="element_lateral" href="">CFA Quiz 2</a>
				<a class="element_lateral" href="">CFA Quiz 3</a>
				<a class="element_lateral" href="">CFA Quiz 4</a>
				<a class="element_lateral" href="">CFA Quiz 5</a>
				<a class="element_lateral" href="">CFA Quiz 6</a>
				<a class="element_lateral" href="">CFA Quiz 7</a>
				<a class="element_lateral" href="">CFA Quiz 8</a>
				<a class="element_lateral" href="">CFA Quiz 9</a>
				<a class="element_lateral" href="">CFA Quiz 10</a>
		
		</div>
{% endblock %}
			
